table {
    margin:1em auto;
}
td {
    height:20px;
    width:20px;
    border:1px solid;
    text-align:center;
}
td:first-child {
    border-left:solid;
}
td:nth-child(4n) {
    border-right:solid ;
}
tr:first-child {
    border-top:solid;
}
tr:nth-child(4n) td {
    border-bottom:solid ;
}