{% load static %}

<!-- 
source: 
1. https://codepen.io/gc-nomade/pen/eBcCI
-->

<html>
<head>
    <title> Sudoku Game</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" /> 
</head>
<header>
    <h1>Sudoku</h1>
</header>
<body> 
    <table id="mySudoku"></table>
    <script src="{% static 'js/build-board.js' %}"></script>
</body>
</html>